Repository nagyesta/lowkey-vault: changes, and which Codecov flags are due for each by the changed paths.
All: app, client, testcontainers

Updating dependency checksums {patch}
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1466)
  gradle/verification-metadata.xml
Due: none

chore: Maintenance (#1470)
  .codeclimate.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pr-labeler.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-oss-index-scan.yml
  .github/workflows/release-trigger.yml
  .github/workflows/scorecard.yml
  .qlty/qlty.toml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  lowkey-vault-app/README.md
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/TokenResponse.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/model/TokenResponseTest.java
  lowkey-vault-client/README.md
  lowkey-vault-docker/README.md
  lowkey-vault-testcontainers/README.md
  pull_request_template.md
Due: app, client, testcontainers

chore: Maintenance - Update checkstyle configuration - Fix new findings - Reword warning of the LowkeyVaultContainer to make it easier to use - Trust Gradle zips
  config/checkstyle/checkstyle.xml
  gradle/verification-metadata-clean.xml
  gradle/verification-metadata.xml
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/KeyUsageEnum.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/mapper/v7_3/certificate/CertificateLifetimeActionsPolicyToV73ModelConverterTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/model/json/util/CertificateLifetimeActionSerializationIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertificateLifetimeActionPolicyTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/KeyVaultCertificateEntityIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/key/impl/KeyLifetimeActionTriggerTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/vault/impl/VaultFakeImplIntegrationTest.java
  lowkey-vault-client/src/main/java/com/github/nagyesta/lowkeyvault/http/management/impl/ResponseEntity.java
  lowkey-vault-client/src/test/java/com/github/nagyesta/lowkeyvault/http/management/impl/LowkeyVaultManagementClientImplTest.java
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainer.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerJupiterTest.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerVanillaTest.java
Due: app, client, testcontainers

feat: Possibility to persist data (keys, secrets, certs) automatically (#1479)
  .github/workflows/gradle-oss-index-scan.yml
  README.md
  lowkey-vault-app/README.md
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/filter/CommonAuthHeaderFilter.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/filter/ContentExportFilter.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/filter/PortSeparationFilter.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/common/ErrorMessage.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/template/backup/VaultImporter.java
  lowkey-vault-app/src/main/resources/application.properties
  lowkey-vault-app/src/main/resources/banner.txt
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/filter/ContentExportFilterTest.java
  lowkey-vault-client/README.md
  lowkey-vault-docker/README.md
  lowkey-vault-docker/src/docker/Dockerfile
  lowkey-vault-testcontainers/README.md
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultArgLineBuilder.java
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainer.java
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerBuilder.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/AbstractLowkeyVaultContainerTest.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultArgLineBuilderTest.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerTest.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerVanillaTest.java
  lowkey-vault-testcontainers/src/test/resources/empty-import.json
Due: app, client, testcontainers

Triggering a release {patch}
  .release-trigger
Due: none

Updating dependency checksums {patch} (#1488)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1498)
  gradle/verification-metadata.xml
Due: none

chore: Maintenance - Update list of allowed licenses
  lowkey-vault-app/build.gradle.kts
Due: app

Triggering a release {patch} (#1514)
  .release-trigger
Due: none

Updating dependency checksums {patch} (#1519)
  gradle/verification-metadata.xml
Due: none

chore: Attempt Maven Central migration - Migrate configuration to Maven Central
  build.gradle.kts
Due: none

chore: Attempt Maven Central migration (#1521)
  build.gradle.kts
Due: none

Updating dependency checksums {patch} (#1525)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1531)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1533)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1535)
  gradle/verification-metadata.xml
Due: none

feat: Allow turning off authentication (#1546)
  lowkey-vault-app/README.md
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/filter/BaseUriExtractionFilter.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/filter/CommonAuthHeaderFilter.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/common/ApiConstants.java
  lowkey-vault-app/src/main/resources/application.properties
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/filter/BaseUriExtractionFilterTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/filter/CommonAuthHeaderFilterTest.java
Due: app

Updating dependency checksums {patch} (#1556)
  gradle/verification-metadata.xml
Due: none

Triggering a release {patch} (#1553)
  .release-trigger
Due: none

feat: Issue valid tokens with token endpoint (#1559)
  .github/workflows/pr-labeler.yml
  README.md
  config/ossindex/exclusions.txt
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  lowkey-vault-app/build.gradle.kts
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/AuthTokenGenerator.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/MetadataController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/KeyDetails.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/OpenIdConfiguration.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/TokenResponse.java
  lowkey-vault-app/src/main/resources/application.properties
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/common/MetadataControllerTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/model/TokenResponseTest.java
Due: app

Excluding vulnerability CVE-2025-22227 {patch}
  config/ossindex/exclusions.txt
Due: none

Excluding vulnerability CVE-2025-22227 {patch} (#1564)
  config/ossindex/exclusions.txt
Due: none

Updating dependency checksums {patch} (#1567)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1568)
  gradle/verification-metadata.xml
Due: none

Path conditions:
  app: any of: lowkey-vault-app
  client: any of: lowkey-vault-client
  testcontainers: any of: lowkey-vault-testcontainers
