Repository nagyesta/lowkey-vault: changes, and which Codecov flags are due for each by the changed paths.
All: app, client, testcontainers

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    project:
      default:
        threshold: 0.50%
      app:
        flags:
        - app
      client:
        flags:
        - client
      testcontainers:
        flags:
        - testcontainers
    patch: false
flags:
  app:
    paths:
      - ./lowkey-vault-app
  client:
    paths:
      - ./lowkey-vault-client
  testcontainers:
    paths:
      - ./lowkey-vault-testcontainers

Pinning dependency checksums {patch}
  gradle/verification-metadata.xml
Due: none

Save Abort-Mission reports on CI - Includes Abort-Mission report HTML-s to uploaded artifacts
  .github/workflows/gradle-ci.yml
Due: none

Save Abort-Mission reports on CI (#619)
  .github/workflows/gradle-ci.yml
Due: none

Avoid triggering auto-releases when Gradle is auto-updated
  .github/workflows/gradle.yml
Due: none

Triggering a release {patch}
  .release-trigger
Due: none

Triggering a release {patch} (#632)
  .release-trigger
Due: none

Inconsistency when signing data (#656)
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/v7_2/key/constants/HashAlgorithm.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/v7_2/key/constants/SignatureAlgorithm.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/key/impl/EcKeyVaultKeyEntity.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/key/impl/KeyVaultKeyEntity.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/key/impl/RsaKeyVaultKeyEntity.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/HashUtil.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_2/KeyCryptoControllerTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_3/KeyCryptoControllerTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/model/v7_2/key/constants/SignatureAlgorithmTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/key/impl/EcKeyVaultKeyEntityTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/key/impl/RsaKeyVaultKeyEntityTest.java
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/steps/KeysStepDefs.java
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerBuilder.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerVanillaTest.java
Due: app, testcontainers

Maintenance - Updates Checkstyle version - Updates JaCoCo version - Adds toolchains to build files - Prepares for the next Gradle upgrade - Fixes two violations noticed by the new Checkstyle
  build.gradle
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/KeyUsageEnum.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/model/json/util/CertificateLifetimeActionSerializationIntegrationTest.java
  lowkey-vault-client/build.gradle
  lowkey-vault-docker/build.gradle
Due: app, client

Maintenance (#666)
  build.gradle
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/KeyUsageEnum.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/model/json/util/CertificateLifetimeActionSerializationIntegrationTest.java
  lowkey-vault-client/build.gradle
  lowkey-vault-docker/build.gradle
Due: app, client

Separate config and data import volumes (#675)
  lowkey-vault-app/README.md
  lowkey-vault-docker/README.md
  lowkey-vault-docker/src/docker/Dockerfile
  lowkey-vault-testcontainers/README.md
  lowkey-vault-testcontainers/build.gradle
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultArgLineBuilder.java
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainer.java
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerBuilder.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultArgLineBuilderTest.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerVanillaTest.java
  lowkey-vault-testcontainers/src/test/resources/config.properties
Due: app, testcontainers
