Repository nagyesta/lowkey-vault: changes, and which Codecov flags are due for each by the changed paths.
All: app, client, testcontainers

feat: Please add host.docker.internal to the default cert - Add host.docker.internal to cert SAN config - Regenerate certificate
  lowkey-vault-app/build.gradle.kts
  lowkey-vault-app/src/main/resources/cert/keystore.p12
Due: app

feat: Please add host.docker.internal to the default cert (#1809)
  lowkey-vault-app/build.gradle.kts
  lowkey-vault-app/src/main/resources/cert/keystore.p12
Due: app

Triggering a release {patch}
  .release-trigger
Due: none

chore: Fix broken build - Define explicit dependency between Gradle tasks - Remove unused license from allowed list
  lowkey-vault-app/build.gradle.kts
  lowkey-vault-testcontainers/build.gradle.kts
Due: app, testcontainers

chore: Update dependencies (#1827)
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  lowkey-vault-app/build.gradle.kts
  lowkey-vault-testcontainers/build.gradle.kts
Due: app, testcontainers

Excluding vulnerability CVE-2026-29062 {patch}
  config/ossindex/exclusions.txt
Due: none

Excluding vulnerability CVE-2026-33870 {patch}
  config/ossindex/exclusions.txt
Due: none

Excluding vulnerability CVE-2026-33871 {patch}
  config/ossindex/exclusions.txt
Due: none

chore: Migrate to OWASP Dependency Check (#1895)
  .github/workflows/add-vulnerability-suppression.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-dependency-check.yml
  .github/workflows/gradle.yml
  build.gradle.kts
  config/dependency-check/suppressions.xml
  config/ossindex/exclusions.txt
  config/ossindex/ossIndexAudit.gradle.kts
  gradle/libs.versions.toml
Due: none

Excluding vulnerability CVE-2026-41417 {patch}
  config/dependency-check/suppressions.xml
Due: none

chore: Update add-vulnerability-suppression.yml
  .github/workflows/add-vulnerability-suppression.yml
Due: none

chore: Update add-vulnerability-suppression.yml (#1910)
  .github/workflows/add-vulnerability-suppression.yml
Due: none

Excluding vulnerability CVE-2026-4141 {patch}
  config/dependency-check/suppressions.xml
Due: none

chore: Suppress CVEs in Netty - Suppress Netty CVEs which are not relevant during intended use - Change workflow to use default log level
  .github/workflows/gradle-dependency-check.yml
  config/dependency-check/suppressions.xml
Due: none

chore: Suppress CVEs in Netty (#1912)
  .github/workflows/gradle-dependency-check.yml
  config/dependency-check/suppressions.xml
Due: none

chore: Maintenance (#1928)
  .github/workflows/gradle-dependency-check.yml
  build.gradle.kts
  config/dependency-check/suppressions.xml
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  lowkey-vault-client/src/main/java/com/github/nagyesta/lowkeyvault/http/ApacheHttpClientProvider.java
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultClientFactory.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/AbstractLowkeyVaultContainerTest.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerVanillaTest.java
Due: client, testcontainers

feat: Basic support for V2025-07-01 API (#1930)
  README.md
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/WebConfig.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/management/VaultImportExportExecutor.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/common/ApiConstants.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/common/ApiVersion.java
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/steps/ParameterTypeDefs.java
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/certificates/BackupAndRestoreCertificates.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/certificates/CreateCertificates.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/certificates/DeleteCertificates.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/certificates/GetCertificatePolicies.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/certificates/ImportCertificates.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/certificates/ListCertificates.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/certificates/ListDeletedCertificates.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/certificates/RenewCertificates.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/keys/BackupAndRestoreKeys.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/keys/CreateKeys.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/keys/DeleteKeys.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/keys/EncryptWithKeys.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/keys/GetKeys.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/keys/ImportKeys.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/keys/ListDeletedKeys.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/keys/ListKeys.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/keys/RandomData.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/keys/RotateKeys.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/keys/SignWithKeys.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/secrets/BackupAndRestoreSecrets.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/secrets/CreateSecrets.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/secrets/DeleteSecrets.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/secrets/GetSecrets.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/secrets/ListDeletedSecrets.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/secrets/ListSecrets.feature
  lowkey-vault-docker/src/test/resources/json/backups/jsonBackupEc-384-2025-07-01.json
  lowkey-vault-docker/src/test/resources/json/backups/jsonBackupOct-192-2025-07-01.json
  lowkey-vault-docker/src/test/resources/json/backups/jsonBackupRsa-2048-2025-07-01.json
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/AbstractLowkeyVaultContainerTest.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerVanillaTest.java
Due: app, testcontainers

Excluding vulnerability CVE-2026-41715 {patch}
  config/dependency-check/suppressions.xml
Due: none

Update gradle-dependency-check.yml
  .github/workflows/gradle-dependency-check.yml
Due: none

chore: Add Snyk configuration - Add Snyk configuration - Change dependency check workflow to use Snyk - Change vulnerabilitiy suppression workflow to use Snyk - Update readme
  .github/workflows/add-vulnerability-suppression.yml
  .github/workflows/gradle-dependency-check.yml
  .github/workflows/gradle.yml
  .snyk
  README.md
  config/snyk/snyk.json
Due: none

chore: Add Snyk configuration (#1968)
  .github/workflows/add-vulnerability-suppression.yml
  .github/workflows/gradle-dependency-check.yml
  .github/workflows/gradle.yml
  .snyk
  README.md
  config/snyk/snyk.json
Due: none

chore: Update Snyk Config - Avoid monitoring for PRs
  .github/workflows/gradle-dependency-check.yml
Due: none

chore: Update Snyk Config (#1975)
  .github/workflows/gradle-dependency-check.yml
Due: none

chore: Fix false-positive Sonar finding
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/context/util/VaultUriUtil.java
Due: app

chore: Fix false-positive Sonar finding (#1980)
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/context/util/VaultUriUtil.java
Due: app

fix: Fix Gradle task dependencies
  lowkey-vault-docker/build.gradle.kts
Due: none

fix: Fix Gradle task dependencies (#2007)
  lowkey-vault-docker/build.gradle.kts
Due: none

Pinning dependency checksums {patch}
  gradle/verification-metadata.xml
Due: none

Path conditions:
  app: any of: lowkey-vault-app
  client: any of: lowkey-vault-client
  testcontainers: any of: lowkey-vault-testcontainers
