Repository nagyesta/lowkey-vault: changes, and which Codecov flags are due for each by the changed paths.
All: app, client, testcontainers

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    project:
      default:
        threshold: 0.50%
      app:
        flags:
        - app
      client:
        flags:
        - client
      testcontainers:
        flags:
        - testcontainers
    patch: false
flags:
  app:
    paths:
      - ./lowkey-vault-app
  client:
    paths:
      - ./lowkey-vault-client
  testcontainers:
    paths:
      - ./lowkey-vault-testcontainers

Updating dependency checksums {patch}
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1248)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1250)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1257)
  gradle/verification-metadata.xml
Due: none

Triggering a release {patch}
  .release-trigger
Due: none

Triggering a release {patch} (#1263)
  .release-trigger
Due: none

Updating dependency checksums {patch} (#1266)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1277)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1280)
  gradle/verification-metadata.xml
Due: none

Migrate CodeCov upload config - Changes Codecov configuration to use new properties - Don't attempt to run optional steps for PRs from forks
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
Due: none

Migrate CodeCov upload config (#1286)
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
Due: none

Update .release-trigger
  .release-trigger
Due: none

Improve Testcontainers Module (#1288)
  .github/workflows/pr-labeler.yml
  README.md
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/ManagedIdentityTokenController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/MetadataController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/filter/PortSeparationFilter.java
  lowkey-vault-app/src/main/resources/application.properties
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/common/ControllerRequestMappingTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/common/MetadataControllerTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/common/TokenControllerTest.java
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainer.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerJupiterTest.java
Due: app, testcontainers

Create SwaggerHub API docs
  README.md
Due: none

Update README.md
  README.md
Due: none

Create SwaggerHub API docs (#1290)
  README.md
Due: none

Maintenance - Adds project logo - Adds partial IDEA project configuration
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/icon.png
  .idea/inspectionProfiles/Project_Default.xml
Due: none

Maintenance (#1291)
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle.yml
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/icon.png
  .idea/inspectionProfiles/Project_Default.xml
Due: none

Stop using Tomcat Base64 util - Removes explicit dependency on Tomcat's Base64 implementation - Adds new tests to verify that the encoding/decoding works
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertContentType.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertContentTypeTest.java
Due: app

Stop using Tomcat Base64 util (#1294)
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertContentType.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertContentTypeTest.java
Due: app

Base64 cannot be decoded to KeyStore with Java client - Fixes encoder to generate same format as before - Changes end-to-end tests to only accept the right format (and no longer accept Base64Mime)
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertContentType.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertContentTypeTest.java
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/steps/CertificateStepDefAssertion.java
Due: app

Base64 cannot be decoded to KeyStore with Java client (#1296)
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertContentType.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertContentTypeTest.java
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/steps/CertificateStepDefAssertion.java
Due: app

Triggering a release {patch} (#1307)
  .release-trigger
Due: none

Updating dependency checksums {patch} (#1318)
  gradle/verification-metadata.xml
Due: none

Lowkey Vault Docker does not support dynamic host ports (#1320)
  lowkey-vault-app/README.md
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/AppConfiguration.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/context/util/VaultUriUtil.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/vault/VaultFake.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/vault/impl/VaultFakeImpl.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/vault/impl/VaultServiceImpl.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/ResourceUtils.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/TestConstants.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/TestConstantsUri.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/BaseVaultConfiguration.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/mapper/v7_2/key/KeyEntityToV72KeyItemModelConverterTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/mapper/v7_2/key/KeyEntityToV72KeyVersionItemModelConverterTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/mapper/v7_2/key/KeyEntityToV72ModelConverterTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/mapper/v7_2/key/KeyEntityToV72PropertiesModelConverterTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/mapper/v7_2/secret/SecretEntityToV72ModelConverterTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/mapper/v7_2/secret/SecretEntityToV72PropertiesModelConverterTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/mapper/v7_2/secret/SecretEntityToV72SecretItemModelConverterTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/mapper/v7_2/secret/SecretEntityToV72SecretVersionItemModelConverterTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/vault/impl/VaultFakeImplTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/vault/impl/VaultServiceImplTest.java
  lowkey-vault-client/src/main/java/com/github/nagyesta/lowkeyvault/http/ApacheHttpResponse.java
  lowkey-vault-docker/README.md
  lowkey-vault-testcontainers/README.md
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultArgLineBuilder.java
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainer.java
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerBuilder.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/AbstractLowkeyVaultContainerTest.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultArgLineBuilderTest.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerVanillaTest.java
Due: app, client, testcontainers

Lowkey Vault Docker does not support dynamic host ports - Adds better URI validation to filter out invalid host names - Updates tests - Updates documentation
  lowkey-vault-app/README.md
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/AppConfiguration.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/context/util/VaultUriUtil.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/vault/impl/VaultFakeImpl.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/context/util/VaultUriUtilTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/vault/impl/VaultFakeImplTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/vault/impl/VaultServiceImplTest.java
  lowkey-vault-docker/README.md
Due: app

Lowkey Vault Docker does not support dynamic host ports (#1321)
  lowkey-vault-app/README.md
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/AppConfiguration.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/context/util/VaultUriUtil.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/vault/impl/VaultFakeImpl.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/context/util/VaultUriUtilTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/vault/impl/VaultFakeImplTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/vault/impl/VaultServiceImplTest.java
  lowkey-vault-docker/README.md
Due: app

Provide Docker Image for multiple Architectures (#1324)
  README.md
  lowkey-vault-app/README.md
  lowkey-vault-client/README.md
  lowkey-vault-docker/README.md
  lowkey-vault-testcontainers/README.md
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainer.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerTest.java
Due: app, client, testcontainers

Updating dependency checksums {patch} (#1335)
  gradle/verification-metadata.xml
Due: none

Triggering a release {patch} (#1354)
  .release-trigger
Due: none
