Repository nagyesta/lowkey-vault: changes, and which Codecov flags are due for each by the changed paths.
All: app, client, testcontainers

Updating dependency checksums {patch}
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#777)
  gradle/verification-metadata.xml
Due: none

Excluding vulnerability CVE-2023-34054 {patch}
  config/ossindex/exclusions.txt
Due: none

Excluding vulnerability CVE-2023-34054 {patch} (#781)
  config/ossindex/exclusions.txt
Due: none

amend! Fixed Wrap and Unwrap Key urls
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_2/KeyCryptoController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_3/KeyCryptoController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_4/KeyCryptoController.java
Due: app

Fixed Wrap and Unwrap Key urls (#785)
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_2/KeyCryptoController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_3/KeyCryptoController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_4/KeyCryptoController.java
Due: app

Triggering a release {patch}
  .release-trigger
Due: none

Triggering a release {patch} (#798)
  .release-trigger
Due: none

Triggering a release {patch} (#810)
  .release-trigger
Due: none

Maintenance (#820)
  README.md
  build.gradle
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  lowkey-vault-app/build.gradle
  lowkey-vault-docker/build.gradle
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/steps/CertificateStepDefAssertion.java
Due: app

SecretClient doesn't seem to be retrieving managed secrets (#830)
  lowkey-vault-app/README.md
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/common/GenericEntityController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/management/VaultImportExportExecutor.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/mapper/v7_2/key/KeyEntityToV72KeyItemModelConverter.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/mapper/v7_2/secret/SecretEntityToV72SecretItemModelConverter.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_2/KeyControllerTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_2/SecretControllerTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_3/KeyControllerTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_3/SecretControllerTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_4/KeyControllerTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_4/SecretControllerTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/key/util/Asn1ConverterUtilTest.java
  lowkey-vault-client/README.md
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/context/CommonTestContext.java
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/steps/CertificateStepDefAssertion.java
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/steps/CertificatesStepDefs.java
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/steps/KeysStepDefs.java
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/steps/KeysStepDefsAssertions.java
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/steps/SecretsStepDefs.java
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/steps/SecretsStepDefsAssertions.java
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/certificates/DeleteCertificates.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/certificates/ListCertificates.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/keys/ListKeys.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/secrets/ListSecrets.feature
  lowkey-vault-testcontainers/README.md
Due: app, client, testcontainers

Improve Docker image efficiency {patch}
  lowkey-vault-docker/src/docker/Dockerfile
Due: none

Improve Docker image efficiency {patch} (#837)
  lowkey-vault-docker/src/docker/Dockerfile
Due: none

Triggering a release {patch} (#838)
  .release-trigger
Due: none

Triggering a release {patch} (#863)
  .release-trigger
Due: none

Make sign artifact step optional in PR workflow if secrets are missing - Removes sign related steps from the PR workflow - Sets the PR workflow to skip CodeCov uploads when the PR is from a fork
  .github/workflows/gradle-ci.yml
Due: none

Make sign artifact step optional in PR workflow if secrets are missing (#871)
  .github/workflows/gradle-ci.yml
Due: none

Excluding vulnerability CVE-2024-25710 {patch}
  config/ossindex/exclusions.txt
Due: none

Excluding vulnerability CVE-2024-25710 {patch} (#878)
  config/ossindex/exclusions.txt
Due: none

Excluding vulnerability CVE-2024-26308 {patch}
  config/ossindex/exclusions.txt
Due: none

Excluding vulnerability CVE-2024-26308 {patch} (#879)
  config/ossindex/exclusions.txt
Due: none

Triggering a release {patch} (#901)
  .release-trigger
Due: none

NullPointerException when importing a certificate without critical extensions (#932)
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertificateGenerator.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_3/CertificateControllerIntegrationTest.java
  lowkey-vault-app/src/test/resources/cert/no-ext-rsa.pem
Due: app

Maintenance - Fixes dependency issues
  gradle/libs.versions.toml
  lowkey-vault-client/build.gradle
Due: client

Assumed Identity endpoint in Lowkey Vault (#972)
  README.md
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/LowkeyVaultApp.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/ManagedIdentityTokenController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/filter/CommonAuthHeaderFilter.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/filter/PortSeparationFilter.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/TokenResponse.java
  lowkey-vault-app/src/main/resources/application.properties
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/common/TokenControllerTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/filter/PortSeparationFilterTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/model/TokenResponseTest.java
  lowkey-vault-app/src/test/resources/test-application.properties
  lowkey-vault-docker/README.md
  lowkey-vault-docker/src/docker/Dockerfile
  lowkey-vault-testcontainers/README.md
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainer.java
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerBuilder.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/AbstractLowkeyVaultContainerTest.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerJupiterTest.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerVanillaTest.java
Due: app, testcontainers

Attempt to fix failing release - Updates release workflow to use publish token for checkout - Updates workflows to use Setup Gradle action everywhere
  .github/workflows/add-index-exclusion.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-oss-index-scan.yml
  .github/workflows/gradle.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-draft.yml
  .github/workflows/release-trigger.yml
  .github/workflows/update-dependency-checksums.yml
  .release-trigger
Due: none

Attempt to fix failing release (#974)
  .github/workflows/add-index-exclusion.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle-ci.yml
  .github/workflows/gradle-oss-index-scan.yml
  .github/workflows/gradle.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release-draft.yml
  .github/workflows/release-trigger.yml
  .github/workflows/update-dependency-checksums.yml
  .release-trigger
Due: none

Fixes flaky tests
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/vault/impl/VaultFakeImplIntegrationTest.java
Due: app

Release process improvements (#988)
  .github/workflows/gradle.yml
  .github/workflows/update-dependency-checksums.yml
  build.gradle
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  lowkey-vault-app/build.gradle
Due: app

Updating dependency checksums {patch} (#1003)
  gradle/verification-metadata.xml
Due: none

Path conditions:
  app: any of: lowkey-vault-app
  client: any of: lowkey-vault-client
  testcontainers: any of: lowkey-vault-testcontainers
