Repository nagyesta/lowkey-vault: changes, and which Codecov flags are due for each by the changed paths.
All: app, client, testcontainers

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    project:
      default:
        threshold: 0.50%
      app:
        flags:
        - app
      client:
        flags:
        - client
      testcontainers:
        flags:
        - testcontainers
    patch: false
flags:
  app:
    paths:
      - ./lowkey-vault-app
  client:
    paths:
      - ./lowkey-vault-client
  testcontainers:
    paths:
      - ./lowkey-vault-testcontainers

Updating dependency checksums {patch}
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1359)
  gradle/verification-metadata.xml
Due: none

Define Docker platform in build file (#1363)
  .gitattributes
  .github/workflows/gradle-ci.yml
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/key/util/KeyGenUtil.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/model/v7_3/key/KeyRotationPolicyModelIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/key/impl/KeyVaultFakeImplTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/key/util/KeyGenUtilTest.java
  lowkey-vault-docker/build.gradle.kts
  lowkey-vault-docker/src/docker/Dockerfile
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/parallel/RunParallelCucumberTest.java
Due: app

Updating dependency checksums {patch} (#1376)
  gradle/verification-metadata.xml
Due: none

Key operations are not persisted (#1383)
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/common/BaseBackupRestoreController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertificateBackingEntityGenerator.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertificateImportInput.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/KeyUsageEnum.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/KeyVaultCertificateEntity.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/TestConstantsCertificates.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/TestConstantsKeys.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/VaultBackupManagementControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_2/KeyControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_3/CertificateBackupRestoreControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_3/KeyControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_4/CertificateBackupRestoreControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_4/KeyControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_5/CertificateBackupRestoreControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertContentTypeTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertificateImportInputTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertificateVaultFakeImplTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/KeyVaultCertificateEntityIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/KeyVaultCertificateEntityTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/key/util/KeyGenUtilTest.java
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/steps/CertificatesStepDefs.java
Due: app

Key operations are not persisted - Use appropriate default values for key usage during certificate creation - Updates tests
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/common/util/CertificateRequestMapperUtil.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertificateCreationInput.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_3/BaseCertificateControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_3/CertificateControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_3/CertificatePolicyControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_4/CertificateControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_4/CertificatePolicyControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_5/CertificateControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_5/CertificatePolicyControllerIntegrationTest.java
Due: app

Key operations are not persisted (#1385)
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/common/util/CertificateRequestMapperUtil.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertificateCreationInput.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_3/BaseCertificateControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_3/CertificateControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_3/CertificatePolicyControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_4/CertificateControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_4/CertificatePolicyControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_5/CertificateControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_5/CertificatePolicyControllerIntegrationTest.java
Due: app

Maintenance (#1389)
  .github/workflows/codeql-analysis.yml
  .github/workflows/gradle.yml
  .lift.toml
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  gradle/wrapper/gradle-wrapper.properties
  lowkey-vault-app/build.gradle.kts
  lowkey-vault-docker/build.gradle.kts
Due: app

Updating dependency checksums {patch} (#1394)
  gradle/verification-metadata.xml
Due: none

Renovate config update - Update renovate config to group dependencies in future PRs
  gradle/libs.versions.toml
  renovate.json
Due: none

Renovate config update (#1397)
  gradle/libs.versions.toml
  renovate.json
Due: none

Replace deprecated dependency - Replace deprecated Hibernate Validator with new one
  gradle/libs.versions.toml
Due: none

Replace deprecated dependency (#1398)
  gradle/libs.versions.toml
Due: none

Updating dependency checksums {patch} (#1401)
  gradle/verification-metadata.xml
Due: none

Renovate fine-tuning - Group dependencies
  renovate.json
Due: none

Renovate fine-tuning (#1402)
  renovate.json
Due: none

Triggering a release {patch}
  .release-trigger
Due: none

Updating dependency checksums {patch} (#1420)
  gradle/verification-metadata.xml
Due: none

feat: Add an easy way to configure dynamic secrets in Testcontainers module (#1423)
  build.gradle.kts
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  lowkey-vault-client/src/main/java/com/github/nagyesta/lowkeyvault/http/management/impl/LowkeyVaultManagementClientImpl.java
  lowkey-vault-testcontainers/README.md
  lowkey-vault-testcontainers/build.gradle.kts
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/ContainerDependency.java
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/KeyStoreMerger.java
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultClientFactory.java
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainer.java
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerBuilder.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/AbstractLowkeyVaultContainerTest.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/KeyStoreMergerTest.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerJupiterTest.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerVanillaTest.java
  lowkey-vault-testcontainers/src/test/resources/lowkey-vault-keystore.p12
Due: client, testcontainers

Updating dependency checksums {patch} (#1431)
  gradle/verification-metadata.xml
Due: none

fix: Fix Testcontainers module URL handling (#1432)
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainer.java
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerBuilder.java
  lowkey-vault-testcontainers/src/test/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainerVanillaTest.java
Due: testcontainers

Updating dependency checksums {patch} (#1435)
  gradle/verification-metadata.xml
Due: none

chore: Simplify Request mappings - Remove duplicate request mapping configuration
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/AppConfiguration.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/MetadataController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/PingController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/VaultBackupManagementController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/VaultManagementController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_2/KeyBackupRestoreController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_2/KeyController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_2/KeyCryptoController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_2/SecretBackupRestoreController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_2/SecretController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_3/CertificateBackupRestoreController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_3/CertificateController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_3/CertificatePolicyController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_3/KeyBackupRestoreController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_3/KeyController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_3/KeyCryptoController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_3/KeyPolicyController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_3/SecretBackupRestoreController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_3/SecretController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_4/CertificateBackupRestoreController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_4/CertificateController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_4/CertificatePolicyController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_4/KeyBackupRestoreController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_4/KeyController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_4/KeyCryptoController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_4/KeyPolicyController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_4/SecretBackupRestoreController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_4/SecretController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_5/CertificateBackupRestoreController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_5/CertificateController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_5/CertificatePolicyController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_5/KeyBackupRestoreController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_5/KeyController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_5/KeyCryptoController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_5/KeyPolicyController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_5/SecretBackupRestoreController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_5/SecretController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/filter/CommonAuthHeaderFilter.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/common/ControllerRequestMappingTest.java
  lowkey-vault-testcontainers/src/main/java/com/github/nagyesta/lowkeyvault/testcontainers/LowkeyVaultContainer.java
Due: app, testcontainers

Triggering a release {patch} (#1454)
  .release-trigger
Due: none

Updating dependency checksums {patch} (#1457)
  gradle/verification-metadata.xml
Due: none

Updating dependency checksums {patch} (#1464)
  gradle/verification-metadata.xml
Due: none
