Repository nagyesta/lowkey-vault: changes, and which Codecov flags are due for each by the changed paths.
All: app, client, testcontainers

codecov.yml:

codecov:
  max_report_age: off
coverage:
  status:
    project:
      default:
        threshold: 0.50%
      app:
        flags:
        - app
      client:
        flags:
        - client
      testcontainers:
        flags:
        - testcontainers
    patch: false
flags:
  app:
    paths:
      - ./lowkey-vault-app
  client:
    paths:
      - ./lowkey-vault-client
  testcontainers:
    paths:
      - ./lowkey-vault-testcontainers

Pinning dependency checksums {patch}
  gradle/verification-metadata.xml
Due: none

Triggering a release {patch}
  .release-trigger
Due: none

Upload new version of architecture diagram
  .github/assets/LowkeyVaultArchitecture-Classes.png
Due: none

Certificate API - Lifetime action policy execution (#499)
  README.md
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/VaultManagementController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/openapi/Examples.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/CertificateVaultFake.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/ReadOnlyLifetimeActionPolicy.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertificateGenerator.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertificateLifetimeActionPolicy.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertificateVaultFakeImpl.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/KeyVaultCertificateEntity.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/common/impl/BaseLifetimePolicy.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/common/impl/BaseVaultFakeImpl.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/key/impl/KeyRotationPolicy.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/secret/impl/KeyVaultSecretEntity.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/secret/impl/SecretVaultFakeImpl.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/vault/VaultFake.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/vault/VaultService.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/vault/impl/VaultFakeImpl.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/vault/impl/VaultServiceImpl.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/VaultManagementControllerTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertificateLifetimeActionPolicyTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/KeyVaultCertificateEntityIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/KeyVaultCertificateEntityTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/secret/impl/SecretVaultFakeImplTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/vault/impl/VaultFakeImplIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/vault/impl/VaultFakeImplTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/vault/impl/VaultServiceImplTest.java
  lowkey-vault-client/src/main/java/com/github/nagyesta/lowkeyvault/http/management/TimeShiftContext.java
  lowkey-vault-client/src/main/java/com/github/nagyesta/lowkeyvault/http/management/impl/LowkeyVaultManagementClientImpl.java
  lowkey-vault-client/src/test/java/com/github/nagyesta/lowkeyvault/http/management/impl/LowkeyVaultManagementClientImplTest.java
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/hook/MissionOutlineDefinition.java
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/steps/CertificateStepDefAssertion.java
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/steps/CertificatesStepDefs.java
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/steps/ManagementStepDefs.java
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/certificates/CreateCertificates.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/certificates/RenewCertificates.feature
Due: app, client

Certificate API - Follow Key Vault behavior more accurately - Code review fixes
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/KeyVaultCertificateEntity.java
Due: app

Certificate API - Update certificate/certificate policy (#524)
  .editorconfig
  README.md
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/common/CommonCertificateController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/common/CommonCertificatePolicyController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/common/util/CertificateRequestMapperUtil.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_3/CertificateController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_3/CertificatePolicyController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/v7_3/certificate/KeyVaultCertificateModel.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/v7_3/certificate/UpdateCertificateRequest.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/ReadOnlyKeyVaultCertificateEntity.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/KeyVaultCertificateEntity.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_3/CertificateControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_3/CertificatePolicyControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/KeyVaultCertificateEntityIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/vault/impl/VaultFakeImplIntegrationTest.java
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/steps/CertificateStepDefAssertion.java
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/steps/CertificatesStepDefs.java
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/certificates/ImportCertificates.feature
Due: app

Certificate API - Certificate backup/restore (#528)
  README.md
  build.gradle
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/context/CertificateConverterConfiguration.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/common/CommonCertificateBackupRestoreController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/common/util/CertificateRequestMapperUtil.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_3/CertificateBackupRestoreController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/mapper/v7_3/certificate/CertificateEntityToV73BackupConverter.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/common/backup/CertificateBackupList.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/common/backup/CertificateBackupListItem.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/common/backup/CertificateBackupModel.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/json/util/Base64ZipCertificateDeserializer.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/json/util/Base64ZipCertificateSerializer.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/v7_3/certificate/CertificateImportRequest.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/v7_3/certificate/CertificateRestoreInput.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/CertificateVaultFake.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertContentType.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertificateBackingEntityGenerator.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertificateVaultFakeImpl.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/KeyVaultCertificateEntity.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_3/CertificateBackupRestoreControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/mapper/v7_3/certificate/CertificateEntityToV73BackupConverterTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/model/json/util/Base64ZipCertificateSerializerDeserializerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertContentTypeTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertificateVaultFakeImplTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/KeyVaultCertificateEntityTest.java
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/steps/CertificatesStepDefs.java
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/steps/KeysStepDefsAssertions.java
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/certificates/BackupAndRestoreCertificates.feature
Due: app

Update diagram with certificate changes
  .github/assets/LowkeyVaultArchitecture-Classes.png
  .github/assets/LowkeyVaultArchitecture.drawio
Due: none

Add certificate examples to example projects (#532)
  gradle/libs.versions.toml
  gradle/verification-metadata.xml
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/ErrorHandlingAwareController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/common/util/CertificateRequestMapperUtil.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/common/backup/CertificateBackupListItem.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/json/util/Base64CertDeserializer.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/json/util/Base64CertSerializer.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/json/util/Base64MimeDeserializer.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/json/util/Base64MimeSerializer.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/v7_3/certificate/CertificateImportRequest.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/v7_3/certificate/CertificateKeyModel.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/v7_3/certificate/KeyVaultCertificateModel.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/v7_3/certificate/KeyVaultPendingCertificateModel.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertContentType.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertificateGenerator.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/mapper/v7_2/key/EcJsonWebKeyImportRequestConverterTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/model/json/util/Base64CertDeserializerTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/model/json/util/Base64CertSerializerTest.java
Due: app

Fix validation (#533)
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertificateBackingEntityGenerator.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/KeyVaultCertificateEntity.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/common/ReadOnlyVersionedEntityMultiMap.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/common/impl/ConcurrentVersionedEntityMultiMap.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/key/impl/AesKeyVaultKeyEntity.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/key/impl/EcKeyVaultKeyEntity.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/service/key/impl/KeyVaultKeyEntity.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/KeyVaultCertificateEntityTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/key/impl/AesKeyVaultKeyEntityTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/key/impl/KeyVaultFakeImplTest.java
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/steps/CertificatesStepDefs.java
  lowkey-vault-docker/src/test/java/com/github/nagyesta/lowkeyvault/steps/KeysStepDefs.java
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/certificates/CreateCertificates.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/certificates/DeleteCertificates.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/keys/CreateKeys.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/keys/GetKeys.feature
  lowkey-vault-docker/src/test/resources/com/github/nagyesta/lowkeyvault/keys/RotateKeys.feature
  lowkey-vault-docker/src/test/resources/json/backups/jsonBackupEc-256-72.json
  lowkey-vault-docker/src/test/resources/json/backups/jsonBackupEc-256-73.json
  lowkey-vault-docker/src/test/resources/json/backups/jsonBackupEc-256k-72.json
  lowkey-vault-docker/src/test/resources/json/backups/jsonBackupEc-256k-73.json
  lowkey-vault-docker/src/test/resources/json/backups/jsonBackupEc-384-72.json
  lowkey-vault-docker/src/test/resources/json/backups/jsonBackupEc-384-73.json
  lowkey-vault-docker/src/test/resources/json/backups/jsonBackupEc-521-72.json
  lowkey-vault-docker/src/test/resources/json/backups/jsonBackupEc-521-73.json
  lowkey-vault-docker/src/test/resources/json/backups/jsonBackupOct-128-72.json
  lowkey-vault-docker/src/test/resources/json/backups/jsonBackupOct-128-73.json
  lowkey-vault-docker/src/test/resources/json/backups/jsonBackupOct-192-72.json
  lowkey-vault-docker/src/test/resources/json/backups/jsonBackupOct-192-73.json
  lowkey-vault-docker/src/test/resources/json/backups/jsonBackupOct-256-72.json
  lowkey-vault-docker/src/test/resources/json/backups/jsonBackupOct-256-73.json
Due: app

Certificate API - Certificate import/export support (#535)
  README.md
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/VaultBackupManagementController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/common/CommonCertificateBackupRestoreController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/controller/v7_3/CertificateBackupRestoreController.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/management/VaultImportExportExecutor.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/model/management/VaultBackupModel.java
  lowkey-vault-app/src/main/java/com/github/nagyesta/lowkeyvault/template/backup/VaultImporter.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/BaseVaultConfiguration.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/VaultBackupConfiguration.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/VaultBackupManagementControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/VaultBackupManagementControllerTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_2/KeyBackupRestoreControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_2/SecretBackupRestoreControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_3/KeyBackupRestoreControllerIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/controller/v7_3/KeyPolicyControllerTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/management/VaultImportExportExecutorTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/mapper/v7_3/certificate/CertificateEntityToV73PendingCertificateOperationModelConverterIntegrationTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/model/v7_2/key/KeyOperationsResultTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/VersionedKeyEntityIdTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/VersionedSecretEntityIdTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/id/VersionedCertificateEntityIdTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertificateImportInputTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/certificate/impl/CertificateVaultFakeImplTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/key/impl/AesKeyVaultKeyEntityTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/key/impl/EcKeyVaultKeyEntityTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/key/impl/KeyRotationPolicyTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/key/impl/RsaKeyVaultKeyEntityTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/secret/impl/KeyVaultSecretEntityTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/service/secret/impl/SecretVaultFakeImplTest.java
  lowkey-vault-app/src/test/java/com/github/nagyesta/lowkeyvault/template/backup/VaultImporterTest.java
  lowkey-vault-app/src/test/resources/template/simplified-cert-import.json.hbs
  lowkey-vault-client/src/test/java/com/github/nagyesta/lowkeyvault/http/management/impl/LowkeyVaultManagementClientImplTest.java
Due: app, client
